[project]
name = "typy"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.12.5",
    "pyright>=1.1.408",
    "pytest>=9.0.2",
    "rich>=14.2.0",
]

[dependency-groups]
dev = [
    "mypy>=1.19.1",
]
